.modal__smallContainer span {
  color: #4c9cb2;
  font-size: 40px;
}

.modal__smallContainer h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

.modal__smallContainer p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.modal__closeIcon {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}

@media (max-width: 320px) {
  .modal__smallContainer p {
    font-size: 0.8718rem;
    margin-bottom: 20px;
  }
}

@media (min-width: 411px) {
  .modal__smallContainer p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
}
