.reserva__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0;
  align-items: center;
}

@media (max-width: 320px) {
  .reserva__container {
    margin: 12px 0;
  }
}

.reserva__quantity {
  display: flex;
  align-items: center;
}

.reserva__number {
  font-weight: bold;
  font-size: 1.1rem;
}

.reserva__info > p {
  font-weight: 600;
}

.reserva__dateText::first-letter {
  text-transform: capitalize;
}
