.screen__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.screen__messageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 55vh;
}

.screen__buttonsContainer {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}
