* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.flex-end {
  justify-content: flex-end !important;
}

.jss1, .jss3, .jss6, .jss8, .jss11, .js13 {
  background-color: #499bb1 !important;
  height: 3px;
}