* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.flex-end {
  justify-content: flex-end !important;
}

div[class*="jss"], div[class^="jss"] {
  background-color: #499bb1 !important;
  height: 3px;
}